gray-hover = {
  color: #555
  background: lightgray
}

*
  padding 0
  margin 0
  box-sizing border-box

.gray-button
  color #fff
  background gray

  &:hover
    {gray-hover}

.pad-1
  padding 0.3rem

.margin-1
  margin 0.3rem

.app
  width 23rem

  [tobe="button"]
    cursor pointer

  [tobe="radio"]
    cursor pointer

  [intent="header"]
    @extend .pad-1
    display flex
    align-items center
    justify-content space-between
    span[intent="title"]
      color gray 

    [intent="control"]
      display flex
      align-item center
      [intent="reload-btn"]
        @extend .gray-button, .pad-1

  [intent="content"]
    @extend .pad-1
    [intent="input-group"]

      [intent="group-title"]
        font-weight bold

      [intent="group-btn"]
        @extend .gray-button
	text-align center
      
      [intent="group-content"]
        @extend .pad-1

    [intent="inputs-box"]
      @extend .pad-1
      width 100%
      display inline-block
      [intent="input-row"]
        width 100%
        display flex
        align-items center
	[intent="input-key"]
	  @extend .margin-1
	  width 3rem
	  display flex
	  justify-content flex-end
	[intent="input-value"]
	  @extend .margin-1
	  flex-grow 1
	  input
	    width 100%
	[intent="input-control"]
	  span
	    @extend .gray-button, .pad-1
	    cursor pointer
	  div[tobe="radio"]
	    @extend .gray-button, .pad-1

	  div[status-now="radio-checked"]
	    {gray-hover}

    [intent="no-field"]
      @extend .pad-1
      width 100%

      &:after
        content attr(data-info)
      
